<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895091298277-muh4ldqi1rb20eoi759pah71c2nvl2jp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895091298277-muh4ldqi1rb20eoi759pah71c2nvl2jp</string>
	<key>API_KEY</key>
	<string>AIzaSyAdieYepz94M9lo72Qn1zDFpreuc4xq9vM</string>
	<key>GCM_SENDER_ID</key>
	<string>895091298277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.lhj.BlindDate</string>
	<key>PROJECT_ID</key>
	<string>blinddate-ae7b3</string>
	<key>STORAGE_BUCKET</key>
	<string>blinddate-ae7b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895091298277:ios:963f4c05946bdf9eb9290c</string>
</dict>
</plist>